accounts.txt
cardSettings.txt
config.txt
pyinstaller.exe
cleanup.spec
splinterforge.spec
dist
build
cleanup_icon.ico
__pycache__
test.py
splinterforgetest.py
splinterforgetest.spec
screenshot.png
splinterforge.exe
rsrc_windows_amd64.syso
rsrc -manifest manifest.xml -ico ICO/dual_gold_new.ico
/Splinterforge -MAC Version
/Splinterforge
.DS_Store
Splinterforge.exe
accounts copy.txt
cardSettings copy.txt